.app-layout {
  display: flex;
  background-color: #ffffff; /* Fundo cinza clarinho da tela inteira */
  min-height: 100vh;

}

.conteudo-principal {
  flex: 1; /* Ocupa todo o resto do espaço ao lado da sidebar */
  display: flex;
  flex-direction: column;
}

